.menuItem :hover {
  background-color: black;
}

.hidden-link {
  display: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
    
.top-cat-name {
  /* display: flex; */
  font-size: 2vw;
  background: white;
  max-width: 100%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
    
.top-cat-name-xs {
  /* display: flex; */
  font-size: 6vw;
  background: white;
  max-width: 100%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.category-item-home2 {
  background-size: cover;
  background-position: center;
  /* filter: grayscale(1); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-decoration: none;
  transition: all 1.5s ease;
  height: 50vh;
}

.category-item-home2 > a {
  font-family: "Roboto";
  color: black;
  padding: 20px 30px; 
}

.category-item-home2:hover {
  /* filter: grayscale(0.5); */
  transition: all 1s ease;
}

.category-item-home2:hover .hidden-link {
  display: block;
  background-color: white;
  width: 100%;
  text-align: center;
  margin: 30px;
  text-decoration: none;
}

.hidden-link:hover {
  font-weight: 700;
}

.category-item-home2:hover .top-cat-name {
  display: none;
} 