.hidden-link {
  display: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.top-cat-name {
  font-size: calc(0.5em + 1vw);
  background: white;
  width: 100%;
  text-align: center;
}

.category-item-home {
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  /* filter: grayscale(1); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-decoration: none;
  transition: all 1s ease-in;
  height: 75vh;
}

.category-item-home:nth-child(n+2) { 
  border-left: none;
}

.category-item-home > a {
  font-family: "Roboto";
  color: black;
  padding: 20px 30px; 
}

.category-item-home:hover {
  /* filter: grayscale(0); */
  transition: all 1s ease;
}

.category-item-home:hover .hidden-link {
  display: block;
  background-color: white;
  width: 100%;
  text-align: center;
  margin: 30px;
  text-decoration: none;
}

.hidden-link:hover {
  font-weight: 700;
}

.category-item-home:hover .top-cat-name {
  display: none;
} 